<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617601541308-2aqgg7pr45nn3opuam8fpltuvai6epu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617601541308-2aqgg7pr45nn3opuam8fpltuvai6epu5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>617601541308-581p8f90dpboo6ro52h0ahfs6p9lmcp2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtUEpGulsXSa7MrDUxcugwJNYHpLFvnXI</string>
	<key>GCM_SENDER_ID</key>
	<string>617601541308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quecko.production</string>
	<key>PROJECT_ID</key>
	<string>groceryapp-33333</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryapp-33333.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617601541308:ios:ad4d528f3c0a5f69045cb9</string>
</dict>
</plist>